.Container {
  width: 60%;
  min-width: 480px;
}

.Group {
  display: flex;
  flex-direction: column;
}

.btnGroup {
  display: flex;
  justify-content: center;
}

.btnGroup button {
  margin: 20px;
}
