@media screen and (max-width: 760px) {
  .profileWrap {
    display: flex;
    flex-direction: column;
  }

  .profileImgArea {
    margin-left: 0 !important; 
    margin-top: 40px;
  }
}

.profileWrap {
  display: flex;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid #cecece;
}

.mainTitle {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 6px;
}

.profileImgArea {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-left: 6rem;
}

.profileLabel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  border-radius: 100%;

  margin: 0;

  &:hover {
    .imageChangeText {
      display: flex;
    }
  }
}

.imageChangeText {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  font-weight: 800;
  font-size: 18px;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.4);
  color: #fdfdfd;
  cursor: pointer;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  border-radius: 100%;
  cursor: pointer;
}

.btnUpload {
  display: none;
}

.userInfoWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.userLabel {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 5px;
  color: #888;
}

.techContainer {
  position: relative;
  width: 100%;
}

.techWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-top: 5px;
  border: 1px solid #cecece;
  border-radius: 8px;
  box-shadow: 0 .3px 0 0 rgba(0, 0, 0, 0.5);
}

.techTitleAndBtn {
  display: flex;
  border-radius: 2px;
  background-color: rgb(230, 230, 230);
  margin: 5px;
  padding: 7px;
  min-width: 0px;
}

.tech {
  border-radius: 2px;
  color: rgb(51, 51, 51);
  font-size: 15px;
  overflow: hidden;
  padding: 3px 3px 3px 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.techCancelBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-radius: 2px;
  padding: 0 8px;
  margin-left: 4px;
  box-sizing: border-box;
}

.techInput {
  color: inherit;
  background: 0px center;
  font-size: 18px;
  opacity: 1;
  color: #888;
  width: 50%;
  height: 48px;
  margin-left: 5px;
  min-width: 2px;
  border: 0px;
  outline: 0px;
  padding: 0px;
}

.techListContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: black;
  border: 1px solid #888;
  border-radius: 4px;
  box-shadow: 0 .3px 0 0 rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  padding: 10px;
  background: white;
  z-index: 999;
}

.techList {
  padding: 10px;

  &:hover {
    background: rgba(31, 128, 255, 0.25);
  }
}

.userInput {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  margin-top: 5px;
  border: 1px solid #cecece;
  border-radius: 8px;
  box-shadow: 0 .3px 0 0 rgba(0, 0, 0, 0.5);
  
  &:focus {
    border: none;
    outline: 1px solid #35b729;
  }

  &:hover {
    outline: none;
    border: 1px solid #35b729;
  }
}

.nicknameArea {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.nicknameCheckBtn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-45%);
  width: 70px;
  height: 35px;
  font-size: 13px;
  color: #a5a5a5;

  &:hover {
    color: black;
  }
}

.profileChangeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 100px;
  height: 40px;
  color: white;
  border: none;
  background: #2e6afd;
  border-radius: 8px;
  margin-left: 10px;

  &:hover {
    background: #5282fa;
  }
}

.green {
  background: #35b729;

  &:hover {
    background: #5acc4f
  }
}

.passwordAndBtnContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.passwordChangeInputGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 5px;
}

.btnGroup {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-left: 6rem;
  padding-left: 4px;
}

.btnContainer {
  display: flex;
  flex-direction: column;
}

.withdraw {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 3px;
  color: rgb(206, 29, 29);
}

.successModal {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: 320px;
  border: 1px solid #000000;
  background: white;
  padding: 40px 0 0 0;
}

.mainTitle {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 30px;
}

.subTitle {
  font-size: 21px;
  font-weight: 600;
  padding-bottom: 40px;
}

.descript {
  font-size: 14px;
  padding-bottom: 10px;
}

.mainBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 35px;
  margin-top: 40px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 4px;
  background: #fd2e2e;

  &:hover {
    background: #ff6363
  }
}

.cancelBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 35px;
  margin-top: 40px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 4px;
  background: #2e6afd;

  &:hover {
    background: #5282fa
  }
}

.modalBtnGroup {
  display: flex;

  button {
    margin-right: 10px;
  }
}