.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
  height: 100%;
  align-items: center;
  border-bottom: 1px solid #c4c4c4;
  background-color: #fff;
}

.navContainer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.navItmes {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  margin: 20px;

  & a:hover {
    color: #35b729;
  }
}

@media screen and (max-width:768px) {
  .navItmes {
    padding: 0;
    max-width: 768px;
  }
  .item {
    margin-right: 10px;
  }
}

.logo {
  margin-left: 20px;
}

.login {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  margin: 20px;
}

.current {
  position: relative;
  color: #35b729;
}

.mypageAndAlarm {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;

  & > a {
    margin-left: 20px;
  }
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;

  & + & {
    margin-left: 20px;
  }
}

.mypageList {
  position: absolute;
  right: -35px;
  top: 40px;
  border: 1px solid #000000;
  background: white;
  width: 100px;
  height: 150px;
  z-index: 999;
  padding: 10px;
}
  
.mypageLink {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 700;
}

.pb10 {
  padding-top: 14px;

  &:first-child {
    padding-top: 10px;
  }
}

.mypageList::after {    
  content: '';
  position: absolute;
  top: -10px;
  left: 40%;
  width: 10px;
  height: 10px;
  border: 1px solid #000000;
  border-width: 0 1px 1px 0;
  background-color: #ffffff;
  transform: rotate(225deg) translateX(-50%);
  
}

/* .current::after {
  content: '';
  position: absolute;
  height: 5px;
  width: calc(100% + 26px);
  background: #35b729;
  left: -13px;
  bottom: -28px;
} */
