.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 100%;
  height: 100%;
  margin-top: 60px;
}

.projectAndBoardWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
}

@media screen and (max-width: 640px) {
}

.boardWrap::-webkit-scrollbar {
  height: 6px; /* 스크롤바의 너비 */
}

.boardWrap::-webkit-scrollbar-thumb {
  background: #000000; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.boardWrap::-webkit-scrollbar-track {
  background: #e2e2e2; /*스크롤바 뒷 배경 색상*/
}

.employmentWrap::-webkit-scrollbar {
  height: 6px; /* 스크롤바의 너비 */
}

.employmentWrap::-webkit-scrollbar-thumb {
  background: #000000; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.employmentWrap::-webkit-scrollbar-track {
  background: #e2e2e2; /*스크롤바 뒷 배경 색상*/
}

.containerWrap {
  max-width: 1200px;
  width: 100%;
  padding: 10px;
}

.containerTitleGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerTitle {
  font-size: 28px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #35b729;
}

.containerMore {
  font-size: 12px;
  padding-right: 3px;
}

.boardContainer .boardWrap {
  overflow-x: auto;
}

.employmentContainer {
  overflow-x: auto;
}

.boardContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.boardWrap {
  display: flex;
  width: 100%;
  height: 300px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.boardContents {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 245px;
  min-width: 245px;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  border: 1px solid #cecece;
  transition: all 0.2s;
  border-radius: 8px;
  padding-top: 25px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.mgr10 {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.startDate {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
  color: #9b9b9b;
  margin-top: 10px;

  & > span:first-child {
    padding-right: 5px;
  }

  & > span {
    font-size: 16px;
  }
}

.projectTitle {
  font-size: 25px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 20px 0;
  font-weight: 700;
}

.techList {
  display: flex;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 10px 0 20px 0;

  & > li {
    font-size: 18px;
  }
}

.writer {
  display: flex;
  align-items: center;
  // justify-content: center;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #cecece;
  font-size: 20px;
  font-weight: 700;
  
  & > span {
    padding-right: 15px;
  }

  img {
    margin-right: 10px;
  }
}

.employmentContainer {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 40px;

}

.employmentWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.employmentContent {
  display: inline-block;
  flex-direction: column;
  min-width: 195px;
  width: 195px;
  height: 200px;
  padding: 10px 10px;
  border: 1px solid #cecece;
  margin: 1px;
  // border-top: 1px solid #cecece;
  // border-bottom: 1px solid #cecece;
  // border-right: 1px solid #cecece;
  cursor: pointer;
  // &:first-child {
  //   border: 1px solid #cecece;
  // }
}

.companyNameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #cecece;
}

.companyName {
  font-size: 22px;
  font-weight: 600;
  padding: 15px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.employmentTitle {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 0 15px 0;

  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.employmentInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.employmentInfo > p {
  padding-right: 8px;
  font-size: 13px;
  color: rgba(5, 19, 9, 0.8);
}

.salWrap {
  display: flex;
  align-items: center;
}

.salTpNm {
  display: flex;
  padding-right: 5px;
  font-size: 13px;
}

.sal {
  font-size: 13px;
}

.regDt {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-size: 12px;
  color: #9b9b9b;
} 

.boardListWrap {
  display: flex;
  flex-direction: column;
  width: 50%;

  &:first-child {
    padding-right: 20px;
  }
  &:last-child {
    padding-left: 20px;
  }
}

.boardTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 700;
  color: #5a5a5a;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #9b9b9b;
  border-radius: 8px;
}

.skill {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #555555;
  border: 1px solid #cecece;
  border-radius: 12px;
  padding: 5px 14px;
  margin-right: 5px;
}