.btn {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #35b729;
  padding: 0.625em 1.1em;
  color: #fff;
  font-size: 1em;
}

.cancel {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #c4c4c4;
  padding: 0.625em 1.1em;
  color: #fff;
  font-size: 1em;
  margin-left: 10px;
}
